<!DOCTYPE html>

<html xmls:th="http://www.thymeleaf.org">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

	<title>Document</title>

</head>

<body>
	<form th:action="@{/materias/buscar/{id}(id=${materia.id})}" th:object="${materia}" th:method="PUT">
		<table class="table table-success table-striped-columns">
			<tr>
				<td>
					<label>ID:</label>
				</td>
				<td>
					<input type="text" id="id" th:field="${materia.id}">
				</td>
			</tr>
			<tr>
				<td>
					<label>NOMBRE:</label>

				</td>
				<td>
					<input type="text" id="nombre" th:field="${materia.nombre}">
				</td>
			</tr>
			<tr>
				<td>
					<label>CODIGO:</label>

				</td>
				<td>
					<input type="text" id="codigo" th:field="${materia.codigo}">
				</td>
			</tr>
			<tr>
				<td>
					<label>DESCRIPCION:</label>

				</td>
				<td>
					<input type="text" id="descripcion" th:field="${materia.descripcion}">
				</td>
			</tr>
			<tr>
				<td>
					<label>NUMERO DE CREDITOS</label>

				</td>
				<td>
					<input type="text" id="numeroDeCreditos" th:field="${materia.numeroDeCreditos}">
				</td>
			</tr>
		</table>
		
</body>

</html>